%% -*- erlang -*-
{sub_dirs, []}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors]}.
%{erl_opts, [debug_info, warnings_as_errors, bin_opt_info]}.
{edoc_opts, [{dir, "doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
    {trie, "~>1.6.0"},
    {bitmap, "~>0.1.4", {pkg, ebitmap}},
    {mmath, "~>0.2.0"},
    {lager, "~>3.5.0"}
 ]}.

{profiles,
 [{shell, [{deps, [sync]}]}, {eqc, [{plugins, [rebar_eqc]}]},
  {lint,  [{plugins, [rebar3_lint]}]}]}.
