%% -*- erlang -*-
{sub_dirs, []}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors]}.
{edoc_opts, [{dir, "doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
    {trie, "~>1.6.0"},
    {bitmap, "~>0.1.3", {pkg, ebitmap}},
    {mmath, "~>0.2.0"}
 ]}.

{profiles,
 [{shell, [{deps, [sync]}]}, {eqc, [{plugins, [{rebar3_eqc, {git, "https://github.com/project-fifo/rebar3-eqc-plugin.git", {branch, "rebar3-update"}}}]}]}]}.
