{sub_dirs, []}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}, {i, "deps/rebar/include"}]}.
{edoc_opts, [{dir, "doc"}]}.
{eunit_opts, [no_tty, {report, {unite_compact, []}}, {report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
  {proper, ".*", {git, "https://github.com/manopapad/proper.git", {tag, "v1.1"}}},
  {lager, "2.0.*", {git, "git://github.com/basho/lager", {tag,"2.0.3"}}},
  {unite, ".*", {git, "git://github.com/eproxus/unite.git", {tag, "c8bfccc8062dc2223e1872969d8d10524759a277"}}}
 ]}.
